<form action="/client/add" method="post">
    <p>
        <label>Nimi:</label><input type="text" name="customerName" />
    </p>
    <p>
        <label>Social Security:</label><input type="text" name="customerSS" />
    </p>
    <p>
        <label>Saldo:</label><input type="text" name="customerSaldo" />
    </p>
    <button type="submit">Add Customer</button>
</form>