<form action="/client/add" method="post">
    <p>
        <label>Nimi:</label><input type="text" name="nimi" />
    </p>
    <p>
        <label>Social Security:</label><input type="text" name="socialSecurity" />
    </p>
    <p>
        <label>Saldo:</label><input type="text" name="saldo" />
    </p>
    <button type="submit">Add Customer</button>
</form>