<h1>Customers</h1>

<table>
    <tr>
        <th>Nimi</th>
        <th>Social Security</th>
        <th>Saldo</th>
    </tr>
    {{#each data}}
    <tr>
        <th>Nimi</th>
        <th>Social Security</th>
        <th>Saldo</th>
    </tr>
    {{/each}}

</table>